body {
    background-color: none;
  }
  h1 {
    color: none;
  }
  p {
    color: none;
  }

    /* navigation menu styles */

  nav ul {
    list-style-type: none;
  }

  .active {
    color: orange; 
  }

  /* .class {
    heading: 

  } */
