@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

#animated {
  animation: 3s fadein; 
}

body {
    background-color: white;
   

    display: grid; 
    grid-template-columns: 100%;
  }

  @media (min-width: 900px) {
    body { 
      /* hello */
    }
    /* 
    #gallery {
      display: flex; 
      flex-wrap: wrap; 
  
    }
  
    #gallery img {
      /* width: 100%;  */
    
    }

  h1 {
    color: black;
  }

  p {
    color: black;
  }

  /* Navigation menu styles */

  header {
    background-image: url("../images/leaves.jpeg");
    max-width: 100%;
    background-repeat: round;

    align-items: stretch;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    grid-column: 1;

    font-family: "Playfair Display";
  }

  nav a { 
    color: white; 
  }

  nav :hover {
    color: orange;
    text-decoration: underline;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  nav li {
    font-weight: 100;
    letter-spacing: 2px;
    padding: 10px;
    font-size: 20px; 
  }

  nav li.active {
    color: black;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 4px;
  }

  .active {
    color: brown; 
  }
 
  /* Image for homepage */

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  /* All images  */

  img{
    width: 250px;
    border: 10px solid rgb(38, 37, 37);
    padding: 10px;
    margin: 10px;
  }

  img:hover{ 
    opacity: 0.5;
    border: 25px solid rgb(159, 153, 153) ;
    padding: 10px;
    /* margin: 10px; */
    margin-left: auto;
    margin-right: auto;
  }

  .decor:hover{
    opacity: 0.25;
  }

  #gallery {
    display: flex; 
    flex-wrap: wrap; 

  }

  #gallery img {
    width: 100%; 
    align-items: stretch; 
  }

  /* Footer */

  footer {
    background-color: orange;
    grid-column: 1; 

  }

  main {
    /* background-color: white; */
    grid-column: 1; 
  }
  
  aside {
    grid-column: 1;
  }

  


  
  